/* Навигация */
.navbar {
  background-color: var(--color-black);
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: var(--z-index-navbar);
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  height: 100vh;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar__item {
  display: flex;
  flex-grow: 0;
}

.navbar__link {
  font-family: var(--font-family-oswald);
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-variant: small-caps;
  color: var(--color-gray-200);
  display: flex;
  width: 100%;
  padding: 16px;
  transition: all .2s ease-in-out;
}

.navbar__link:hover {
  background-color: var(--color-white);
  color: var(--color-text-primary) !important;
}

.navbar__link:visited:not(.navbar__link--active) {
  color: var(--color-gray-200);
}

.navbar__link--active {
  background-color: var(--color-white);
  color: var(--color-primary) !important;
  pointer-events: none;
}
