---
layout: base
title: Команда
description: Наша команда юристов и специалистов
---

<section class="team">
  <h1 class="page-title">Команда</h1>
  
  <div class="team__content">
    <p>Наша команда состоит из высококвалифицированных юристов и специалистов в различных областях права.</p>
  </div>
</section> 