.team {
  padding-bottom: 40px;
}

.team__member-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 80px;
}

.team__member-item {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.team__member-item-image {
  border: 1px solid var(--color-primary);
  overflow: hidden;
}

.team__member-item-photo {
  transform: scale(1.05);
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}
.team__member-item-photo:hover {
  transform: scale(1.1);
}

.team__member-item-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team__member-item-title {
  font-family: var(--font-family-oswald);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;
  color: var(--color-text);
}

.team__member-item-subtitle {
  font-family: var(--font-family-ubuntu);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: var(--color-text);
}

/* Адаптивность */
@media (max-width: 768px) {
  .team__member-list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 40px;
  }

}

@media (max-width: 480px) {
  .team__member-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .team__member-item-photo {
    width: 100%;
  }
}
