{% from "components/icon.njk" import icon %}

<nav class="navbar">
    <a class="navbar__logo" href="/">
        {{ icon("logo", "Кляузин и партнеры") }}
    </a>
    <ul class="navbar__list">
        {% for item in navigation.navigation %}
            <li class="navbar__item">
                <a href="{{ baseUrl }}{{ item.url }}" class="navbar__link{% if page.url == item.url %} navbar__link--active{% endif %}" {% if page.url == item.url %}aria-current="page"{% endif %}>
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav> 