---
layout: base
title: Как с нами связаться
description: Контактная информация компании Кляузин и партнеры
---

{% from "components/icon.njk" import icon %}
<section class="contacts">
  <h1 class="page-title fade-in-top">{{title}}</h1>

  <div class="contacts__content">
    <div class="bracket-card fade-in-left">
      <div class="contacts__info">
        <div class="contacts__info-item">
          {{ icon('map-marker-solid', 'contacts__info-item-icon')}}
          <a href="https://yandex.ru/navi?whatshere%5Bpoint%5D=30.304513399195237%2C59.97075634142231&whatshere%5Bzoom%5D=19.83326&ll=30.304468693740944%2C59.9707732052167&z=19.83326&si=ytbje2mrtng82f08q9ey32nfy0" _target="blank">Санкт-Петербург, ул. Профессора Попова, д. 26 к. 2</p>
        </div>
        <div class="contacts__info-item">
          {{ icon('envelope', 'contacts__info-item-icon')}}
          <a href="mailto:klauzin@gmail.com">klauzin@gmail.com</a>
        </div>
        <div class="contacts__info-item">
          {{ icon('phone-solid', 'contacts__info-item-icon')}}
          <a href="tel:+79117777777">+7 (911) 777-77-77</a>
        </div>
      </div>
    </div>
  </div>
</section>
