<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}Кляузин и партнеры</title>
  <meta name="description" content="{{ description }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ baseUrl }}/styles/main.css">
  <link rel="icon" href="{{ baseUrl }}/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="page-wrapper {% if page.url == "/" %} page-wrapper--home {% endif %}">
    {% if page.url != "/" %}
      {% include "components/navigation.njk" %}
    {% endif %}
  
    <main class="main content-grid">
      {{ content | safe }}
    </main>
  </div>
  <script src="{{ baseUrl }}/scripts/main.js"></script>
</body>
</html> 