---
layout: base
title: О нас
description: О компании Кляуюзин и партнеры
---

<section class="about">
  <h1 class="page-title fade-in-top">{{title}}</h1>

  <div class="about__content">
    <div class="about__advantages fade-in-left">
      <div class="bracket-card about__advantages-item-wrapper">
        <div class="about__advantages-item">
          <p><b>15 лет</b></p>
          <p>практики</p>
        </div>
      </div>
      <div class="bracket-card about__advantages-item-wrapper">
        <div class="about__advantages-item">
          <p>специализация</p>
          <p><b>Корпоративные споры</b></p>
        </div>
      </div>
      <div class="bracket-card about__advantages-item-wrapper">
        <div class="about__advantages-item">
          <p>специализация</p>
          <p><b>Банкротство юрлиц</b></p>
        </div>
      </div>
      <div class="bracket-card about__advantages-item-wrapper">
        <div class="about__advantages-item">
          <p><b>894 млн ₽</b></p>
          <p>сохранили нашим клиентам</p>
        </div>
      </div>
    </div>
    <div class="about__description-list fade-in-bottom">
      <div class="about__description-item"
        >Добро пожаловать в юридическую фирму «Кляузин и партнёры»! С гордостью
        представляем вам наш опыт, который насчитывает 15 лет успешной практики
        на рынке. Мы специализируемся на корпоративных спорах и банкротстве
        юридических лиц, предоставляя нашим клиентам надёжную правовую
        поддержку.</div
      >
      <div class="about__description-item"
        >Мы отличаемся креативным подходом к решению задач, что позволяет
        находить эффективные и нестандартные решения в сложных ситуациях. Наша
        команда состоит из высококвалифицированных специалистов, каждый
        из которых является экспертом в своей области права.</div
      >
      <div class="about__description-item"
        >Вместе мы достигаем успеха, предлагая нашим клиентам комплексные
        решения и индивидуальный подход. Доверьтесь профессионалам, которые
        знают, как защитить ваши интересы. Мы работаем, чтобы превзойти ваши
        ожидания и обеспечить вам уверенность в каждом шаге.</div
      >
      <div class="about__description-item"
        >Нашими клиентами являются значимые компании из различных сфер бизнеса.
        Это позволяет нам накапливать богатый опыт и глубже понимать потребности
        вашего бизнеса, предлагая каждому клиенту уникальные и эффективные
        решения.</div
      >
    </div>
  </div>
</section>
