---
layout: base.njk
title: Главная
description: Кляуюзин и партнеры - юридическая компания
---
{% from "components/icon.njk" import icon %}
<div class="home__container">
  <section class="home__hero">
    <div class="home__hero-content">
      <div class="home__hero-title">Мы знаем, как работает система</div>
      <div class="home__hero-text">и используем это знание для вашей защиты</div>
    </div>
    <div class="home__hero-logo">
      {{ icon("logo", "home__hero-logo-icon")}}
    </div>
  </section>
  <section class="home__nav">
    {% include "components/mainPageNav.njk" %}
  </section>
</div>
