---
layout: base
title: Банкротство
description: Услуги по банкротству от компании Кляузин и партнеры
---

<section class="bankruptcy">
  <h1 class="page-title fade-in-top">{{title}}</h1>

  <div class="bankruptcy__content">
    <div class="bankruptcy__description fade-in-left">
      <div class="bankruptcy__description-text">
        В разделе практики банкротства мы предлагаем нашим клиентам экспертное
        сопровождение в сложнейших юридических вопросах. Наша команда
        профессионалов активно занимается спорами, связанными с привлечением
        контролирующих лиц к субсидиарной ответственности, оспариванием сделок и
        розыском имущества должника.
      </div>
      <div class="bracket-card">
        <div class="bankruptcy__description-text-bracket">
          <p class="title">ПРЕИМУЩЕСТВА</p>
          <ul>
            <li><p class="description">Законное списание долгов</p></li>
            <li
              ><p class="description">Избавление от давления кредиторов</p></li
            >
          </ul>
        </div>
      </div>
      <div class="bracket-card">
        <div class="bankruptcy__description-text-bracket">
          <p class="title">ПРОЦЕСС</p>
          <p class="description"
            >Анализ конфликта → Выбор стратегии → Медиация и переговоры →
            Юридическая защита</p
          >
        </div>
      </div>
      <div class="bankruptcy__description-text">
        Мы оказываем услуги как должникам, так и кредиторам, адаптируя нашу
        стратегию к конкретной ситуации. Наша компания предлагает комплексное
        ведение дел о банкротстве, а также участие в отдельных обособленных
        спорах, что позволяет максимально эффективно защищать интересы наших
        клиентов.
      </div>
      <div class="bankruptcy__description-text">
        Юристы компании имеют богатый опыт успешного участия в нескольких сотнях
        банкротных проектов, начиная от банкротств физических лиц до банкротств
        финансовых организаций, застройщиков и крупных холдинговых предприятий.
      </div>
      <div class="bankruptcy__description-text"
        >С нами вы можете рассчитывать на надёжность, профессионализм
        и креативный подход — мы добьёмся результата, даже в самых сложных
        судебных разбирательствах. Позвольте нам взять на себя юридические
        заботы, пока вы сосредоточитесь на своём бизнесе.
      </div>
    </div>

    <div class="bankruptcy__projects fade-in-bottom">
      <div class="bankruptcy__projects-title">Проекты</div>
      <div class="bankruptcy__projects-list">
        <div class="bankruptcy__projects-item">
          <div class="bankruptcy__projects-item-title"
            >Банкротство организаций</div
          >
          <div class="bankruptcy__projects-item-text"
            >Со стороны должника — консультационное сопровождение должников,
            анализ обязательств и рисков в преддверии возможного банкротства,
            разработка антикризисной стратегии, представление интересов должника
            на стадиях наблюдения и финансового оздоровления, по вопросам
            реструктуризации задолженности, подготовка и подача заявления
            должника о признании его банкротом в порядке ст. 9 Закона о
            банкротстве, среди проектов: консультирование крупного промышленного
            предприятия по вопросам реструктуризации бизнеса в преддверии
            банкротства, размер требований 1,5 млрд руб.; предупреждение
            банкротства крупной нефтяной компании Северо-Запада с потенциальным
            объемом требований кредиторов более 36 млрд рублей.</div
          >
        </div>
        <hr />
        <div class="bankruptcy__projects-item">
          <div class="bankruptcy__projects-item-title">Со стороны должника</div>
          <div class="bankruptcy__projects-item-text"
            >Среди проектов: представление интересов добросовестного
            приобретателя имущества, являющегося предметом обеспечения в деле об
            оспаривании конкурсным управляющим банка сделки, направленной на
            вывод активов, размер требований 5 млрд руб.; представление
            интересов физических лиц — кредиторов банка в споре о включении в
            реестр требований кредиторов при недостаточности доказательств
            размера требования и противодействия со стороны управляющего, размер
            требований $20 млн; сопровождение приобретения требования
            банка-банкрота, обеспеченного залогом ликвидного имущества на
            торгах, проводимых АСВ;</div
          >
        </div>
        <hr />
        <div class="bankruptcy__projects-item">
          <div class="bankruptcy__projects-item-title"
            >Со стороны кредиторов</div
          >
          <div class="bankruptcy__projects-item-text"
            >Со стороны кредиторов — участие в собраниях и комитетах кредиторов,
            взаимодействие с другими кредиторами и формирование согласованной
            позиции, защита прав миноритарных кредиторов, анализ возможности
            пополнения конкурсной массы в условиях недостаточности документов и
            информации, взаимодействие с электронными торговыми площадками и
            организаторами торгов.<br />
            Среди проектов: разработка исключительной стратегии реализации прав
            миноритарного кредитора в банкротстве подрядчика по строительству
            метрополитена в Санкт-Петербурге, (цена иска более $160 млн);
            комплексное сопровождение процедуры банкротства крупного
            машиностроительного завода, сумма реестра требований кредиторов
            составляла более $60 млн; комплексное сопровождение процедуры
            банкротства крупной строительной компании, осуществляющей
            строительство жилых и нежилых зданий, сумма реестра требований
            кредиторов составила более $5 млн; сопровождение процедуры
            банкротства крупного нефтяного трейдера с суммой иска более чем $16
            млн; представление интересов банка (топ-10) в банкротстве по более
            чем 30 проектам с объемом требований более 5 млрд руб.;
            представление требований азиатских экспортно-импортных агентств в
            банкротстве российских должников с требованиями более 500 млн
            руб.</div
          >
        </div>
        <hr />
        <div class="bankruptcy__projects-item">
          <div class="bankruptcy__projects-item-title"
            >Со стороны залоговых кредиторов</div
          >
          <div class="bankruptcy__projects-item-text"
            >Со стороны залоговых кредиторов — представление интересов залоговых
            кредиторов в делах о несостоятельности, установление требований, в
            т. ч. при оспаривании залога и возражениях об утрате предмета залога
            (движимое имущество, товары в обороте, дебиторская задолженность),
            согласование с арбитражным управляющим и утверждение в суде
            положений о продаже залогового имущества и начальной продажной цены,
            споры по утверждению начальной продажной цены, юридическое
            сопровождение проведения торгов, оспаривание сделок
            должника-банкрота по основаниям причинения ущерба.<br />
            Среди проектов: представление интересов банка в деле о банкротстве
            группы компаний, специализирующейся на производстве и реализации
            напитков живого брожения, третья по объему рынка в РФ, сумма реестра
            требований кредиторов превышала $26 млн, представление интересов
            банка в деле о банкротстве крупнейшего агропромышленного холдинга по
            вопросу наличия заложенного товара в обороте, размер требований 250
            млн руб.; включение требований залогового кредитора в реестр при
            оспаривании договора залога управляющим и иными кредиторами по ряду
            оснований (сделка, совершенная с целью причинения ущерба, ничтожная
            сделка, нарушение положений об одобрении), размер требований 300 млн
            руб.; представление интересов банка при оспаривании торгов одним из
            участников, злоупотреблявшим своими правами, размер требований 400
            млн руб.</div
          >
        </div>
      </div>
    </div>
  </div>
</section>
