---
layout: base
title: Корпоративные споры
description: Решение корпоративных споров от компании Кляузин и партнеры
---

<section class="corporate-disputes">
  <h1 class="page-title fade-in-top">{{title}}</h1>

  <div class="corporate-disputes__content">
    <div class="corporate-disputes__description fade-in-left">
      <div class="corporate-disputes__description-text">
        Корпоративные споры — это не просто юридические разбирательства.
        Это конфликты, которые могут разрушить годами выстроенные отношения
        между партнёрами, поставить под угрозу стабильность компании и привести
        к значительным финансовым потерям. В таких ситуациях важно действовать
        быстро, грамотно и стратегически.
      </div>
      <div class="corporate-disputes__description-text">
        Мы понимаем, насколько важно не только отстоять ваши права в суде,
        но и сохранить деловую репутацию, минимизировать ущерб для бизнеса
        и найти оптимальное решение даже в самых сложных ситуациях.
      </div>
      <div class="corporate-disputes__description-text">
        За годы практики мы успешно разрешили десятки споров между акционерами,
        защитили интересы компаний при недружественных поглощениях, помогли
        клиентам выйти из состава участников с минимальными потерями и оспорили
        незаконные решения собраний акционеров.
      </div>
      <div class="bracket-card">
        <div class="corporate-disputes__description-text-bracket">
          <p class="title">
            Мы знаем, как работает система, и используем это знание для вашей
            защиты
          </p>
        </div>
      </div>
      <div class="bracket-card">
        <div class="corporate-disputes__description-text-bracket">
          <p class="title">Мы специализируемся на</p>
          <ul>
            <li>
              <p class="description">
                Спорах между акционерами и участниками ООО
              </p>
            </li>
            <li>
              <p class="description">
                Оспаривании решений собраний акционеров
              </p>
            </li>
            <li>
              <p class="description">
                Выходе из состава участников и разделе бизнеса
              </p>
            </li>
            <li>
              <p class="description"> Защите от недружественных поглощений </p>
            </li>
            <li>
              <p class="description">
                Взыскании убытков с руководства компании
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="corporate-disputes__description-text">
        Наша команда поможет вам в подготовке стратегий по защите
        от недружественных поглощений и преступных попыток получения
        корпоративного контроля.<br /><br /><br />
        Наши юристы не применяют шаблонные подходы — они глубоко погружаются
        в специфику вашего бизнеса, анализируют все детали конфликта
        и разрабатывают индивидуальную стратегию. Мы работаем так,
        чтобы в вы могли сосредоточиться на развитии своего дела, пока мы берём
        на себя все юридические риски.
      </div>
    </div>

    <div class="corporate-disputes__projects fade-in-bottom">
      <div class="corporate-disputes__projects-title">Проекты</div>
      <div class="corporate-disputes__projects-list">
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-title">
              Центральный корпоративный конфликт 2020 года
            </div>
            <div class="corporate-disputes__projects-item-text">
              Комплексное сопровождение центрального корпоративного конфликта 2020
              года в России. Адвокатам удалось обеспечить максимально выигрышную
              позицию в судах более чем по 20 спорам, которая привела к
              урегулированию разногласий и подписанию мировых соглашений в
              отношении минеральных сырьевых активов стоимостью $157 млн.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right"></div>
        </div>
        <hr />
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-title">
              Защита прав на акции при реорганизации компании
            </div>
            <div class="corporate-disputes__projects-item-text">
              Представление интересов акционера промышленного холдинга в
              корпоративном конфликте, включавшем в себя корпоративный спор,
              получивший оценку ВАС РФ по вопросам доказывания прав на акции и
              способах защиты прав на акции при реорганизации компании.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right">
            <div class="bracket-card">
              <div class="corporate-disputes__projects-item-right-bracket-card">
                <p>150 млн ₽</p>
                <p>взыскали</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-text">
              Создание стратегии защиты и представление интересов собственника
              крупного IT холдинга в споре с наследниками бывшего собственника
              актива. Комплексная работа по защите действующего бизнеса Клиента от
              недружественного поглощения. Сумма защищенных активов составила
              более $70 млн.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right"></div>
        </div>
        <hr />
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-title">
              Корпоративный конфликт с уголовным элементом
            </div>
            <div class="corporate-disputes__projects-item-text">
              Представление интересов акционеров крупного регионального
              предприятия в корпоративном конфликте, включавшем в себя несколько
              уголовных дел и международный розыск оппонентов, споры о признании
              недействительными решений органов управления, споры о выпуске акций
              и признании сделок недействительными.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right"></div>
        </div>
        <hr />
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-title">
              Спор с акционерами о взыскании убытков
            </div>
            <div class="corporate-disputes__projects-item-text">
              Представление интересов члена совета директоров ведущей
              энергетической компании в споре с акционерами о взыскании убытков,
              причиненных одобрением сделок с заинтересованностью на нерыночных
              условиях.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right">
            <div class="bracket-card">
              <div class="corporate-disputes__projects-item-right-bracket-card">
                <p>за 1 неделю</p>
                <p>разрешили спор</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-title">
              Представление интересов всероссийской общественной организации
            </div>
            <div class="corporate-disputes__projects-item-text">
              Представление интересов всероссийской общественной организации по
              вопросу восстановления контроля над федеральными и территориальными
              органами управления и сопровождение всех корпоративных процедур,
              связанных с конфликтом.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right"></div>
        </div>
        <hr />
        <div class="corporate-disputes__projects-item">
          <div class="corporate-disputes__projects-item-left">
            <div class="corporate-disputes__projects-item-text">
              В период 2003–2008 гг. партнеры Бюро (в то время партнеры
              юридической фирмы «Зеленый коридор», предшественника Бюро) приняли
              участие в разработке и реализации стратегий антирейдерской защиты по
              более чем 50 кейсам по всей России, результатом многолетней работы
              явились успешная защита активов стоимостью более $200 млн.
            </div>
          </div>
          <div class="corporate-disputes__projects-item-right"></div>
        </div>
      </div>
    </div>
  </div>
</section>
