.corporate-disputes {
  padding-bottom: 40px;
}

.corporate-disputes__content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 112px;
}

.corporate-disputes__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

@media screen and (width <= 1024px) {
  .corporate-disputes__description {
    grid-template-columns: repeat(1, 1fr);
  }
}

.corporate-disputes__description-text {
  font-family: var(--font-family-ubuntu);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: var(--color-text-primary);
}

.corporate-disputes__description-text-bracket {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  padding: 24px;
  margin: 0 auto;
}
.corporate-disputes__description-text-bracket p.title {
  font-family: var(--font-family-oswald);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}
.corporate-disputes__description-text-bracket p.description {
  font-family: var(--font-family-ubuntu);
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
}
.corporate-disputes__description-text-bracket ul {
  margin: 16px;
  padding: 0;
  list-style: circle;
}

.corporate-disputes__projects {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.corporate-disputes__projects-title {
  font-family: var(--font-family-oswald);
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  font-variant: small-caps;
}

.corporate-disputes__projects-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.corporate-disputes__projects-item {
  display: flex;
  gap: 10px;
}

@media screen and (width <= 768px) {
  .corporate-disputes__projects-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .corporate-disputes__projects-item-right {
    width: 100% !important;
  }
  .corporate-disputes__projects-item-right .bracket-card {
    width: 100% !important;
  }
  .corporate-disputes__projects-item-right .bracket-card .corporate-disputes__projects-item-right-bracket-card {
    margin: 0 auto;
  }
}

.corporate-disputes__projects-item-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.corporate-disputes__projects-item-right {
  width: 250px;
  flex-shrink: 0;
  justify-items: flex-end;
}

.corporate-disputes__projects-item-title {
  font-family: var(--font-family-ubuntu);
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.corporate-disputes__projects-item-text {
  font-family: var(--font-family-ubuntu);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: var(--color-text-primary);
}

.corporate-disputes__projects-list hr {
  background-color: var(--color-primary);
  height: 1px;
  width: 100%;
  margin: 0;
  border: none;
}
.corporate-disputes__projects-item-right .bracket-card {
  height: 100%;
}

.corporate-disputes__projects-item-right-bracket-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.corporate-disputes__projects-item-right-bracket-card p {
  margin: 0;
  padding: 0;  
  width: min-content;
  white-space: nowrap;
}

.corporate-disputes__projects-item-right-bracket-card p:first-child {
  font-family: var(--font-family-ubuntu);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.corporate-disputes__projects-item-right-bracket-card p:last-child {
  font-family: var(--font-family-ubuntu);
  color: var(--color-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}
